#root{
  background: rgb(45, 38, 62);
  color: #fff;
  font-weight: 500;
  width: 100%;
}
 main span{
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  padding: 2rem;
 }

section {
  display: flex;
  position: absolute;
  justify-content: start;
  background: rgb(14, 8, 28);
  color: #fff;
  font-weight: 500;
  border-radius: 2rem;
  width: 80%;
  padding: 2rem;
  left: 8%;
}

ul {
  list-style: none;
}
li {
  display: flex;
  border:  1px solid hsla(293, 61%, 32%, 0.333);
  margin-bottom: 2rem;
  padding: 2rem;
}

li:hover{
  border:  1px solid hsla(297, 71%, 51%, 0.333);
box-shadow: hsla(272, 46%, 56%, 0.333);
}